body {
  background-image: url("../img/background.jpg");
  padding: 0;
  margin: 0;
}

header {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #001f3f;
  color: #F8F8FF;
}

h1 {
	padding: 15px 20px;
	margin: 0;
}

.nav_content {
  text-align: left;
  padding: 10px 20px;
  margin: 0;
}

nav {
  text-align: left;
  padding: 5px 10px;
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  /* 横並び */
  list-style: none;
  width: 10%;
  /* ここで項目の幅を指定します */
  background-color: #e3d7a3;
  /* 背景色を指定します */
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: left;
}

nav ul li a {
  margin: 5px 20px;
  text-decoration: none;
  color: #0F0F0F;
  /* 文字色を指定します */
}

nav li:hover {
  opacity: 0.8;
  /* hover時の不透明度を調整します */
}


/*-------------------------------------*/

main {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

}


ul {
  display: inline;
  margin: 0;
}

.OrderCardList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 80px;
  border-radius: 5px;
  padding: 0;
  margin: 0 auto;
}

.OrderCard {
  margin: 0 auto;
  background-color: #d8d6cd;
  margin: 0;
  padding: 20px;
  max-width: 800px;
  min-width: 400px;
  text-align: left;
  border: 1px solid; /* 線の太さと可視化 */
  border-radius: 4px; /* 角丸に */
}